.loader_cont {
  width: 88vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
.loader {
  width: 0rem;
  height: 0rem;
  /* position: absolute; */
  border-radius: 50%;
  margin-top: 1rem;
  transform-origin: center;
  animation: load 1s infinite linear;
}
@keyframes load {
  0% {
    width: 0rem;
    height: 0rem;
    border: 0px solid blueviolet;
  }
  30% {
    width: 4rem;
    height: 4rem;
  }
  60% {
    width: 2rem;
    height: 2rem;
  }
  100% {
    width: 6rem;
    height: 6rem;
    opacity: 0;
    border: 5px solid blueviolet;
  }
}
